.steps {
  max-width: 140rem;
  margin: 7rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/////////////STEP TOP///////////////////

.works {
  max-width: 140rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  gap: 8rem;

  &__1 {
    width: 50%;
    .works__text1 {
      font-size: 2.4rem;
      color: #424242;
      line-height: 3.7rem;
    }

    .works__heading {
      font-size: 5rem;
      color: #01996d;
      font-family: Georgia;
      line-height: 7.8rem;
    }
  }

  &__text {
    width: 50%;
    font-size: 2rem;
    color: #424242;
    line-height: 3rem;
    align-self: center;
    justify-self: flex-end;
  }
}

/////////////STEP MAIN///////////////////

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &_inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 9rem;
  }
  .step__1,
  .step__2,
  .step__3 {
    // max-width: 39rem;

    .step__top {
      position: relative;
      padding: 5rem;
      font-family: Georgia;

      .no {
        font-size: 15rem;
        color: rgba(#01996d33, 0.2);

        position: absolute;
        top: 2rem;
        left: 0;
      }
      .step__head {
        font-size: 3rem;
        line-height: 4.5rem;
        font-weight: 700;
        text-align: center;
      }
    }

    .step__text {
      color: #424242;
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 6rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }

  .step__2 {
    margin-top: 25rem;
  }

  .step__3 {
    margin-top: 10rem;
  }
}
.img {
  text-align: center;
}
.img img {
  width: 100%;
}

@media screen and (max-width: 578px) {
  .step__2 {
    margin-top: 55rem !important;
  }
  .step__3 {
    margin-top: -35rem !important;
  }
}

@media screen and (max-width: 380px) {
  .step__1,
  .step__2,
  .step__3 {
    max-width: 39rem;
    justify-self: center;
  }
  .step__2 {
    margin-top: 10rem !important;
  }
  .step__3 {
    margin-top: 10rem !important;
  }
}

@media screen and (max-width: 666px) {
  .works {
    flex-direction: column;
    gap: 2rem;
    &__1 {
      width: 100%;
    }
    .works__text {
      width: 100%;
    }
  }
}
