.story {
  width: 100%;
  height: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #245852;
}

.box {
  max-width: 150rem;
  padding-top: 22.9rem;
  padding-bottom: 17.6rem;
  margin: auto;
  display: flex;

  &__video img {
    height: 100%;
    width: 100%;
  }
  &__text {
    max-width: 40%;
    margin-right: 3rem;
    align-self: center;
  }

  &__head {
    font-family: Georgia;
    font-size: 5rem;
    line-height: 7.8rem;
    color: #fff;
    margin-bottom: 3rem;
  }

  &__t {
    font-size: 2.5rem;
    line-height: 3.9rem;
    color: #fff;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 800px) {
  .box {
    flex-direction: column;
    &__text {
      max-width: 100%;
      width: 100%;
      margin-bottom: 5rem;
      align-self: start;
    }
  }
}
